*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
}
.contenitore{
  width: 80%;
  margin: auto;
}
header{
  height: 100px;
  width:100%;
  background-color: pink;
}
.taglio-alto{
  height: 400px;
  width:100%;
  background-color: yellow;
  margin: 20px 0;
}
